:root, .light
  // primary
  --accents-1 #fafafa
  --accents-2 #eaeaea
  --accents-3 #999
  --accents-4 #888
  --accents-5 #666
  --accents-6 #444
  --accents-7 #333
  --accents-8 #111
  --geist-foreground #000
  --geist-background #fff
  --geist-selection var(--geist-cyan)

  // status color
  --geist-success #0070f3
  --geist-success-light #3291FF
  --geist-success-dark #0366D6

  --geist-error #E00
  --geist-error-light #FF1A1A
  --geist-error-dark #C00

  --geist-warning #F5A623
  --geist-warning-light #F7B955
  --geist-warning-dark #F49B0B

  // highlight
  --geist-alert #FF0080
  --geist-purple #F81CE5
  --geist-cyan #79FFE1
  --geist-violet #7928CA

  // component expressiveness
  --geist-link-color var(--geist-success)
  --geist-link-style none
  --geist-secondary var(--accents-5)
  --geist-code var(--geist-purple)
  --dropdown-box-shadow 0 4px 4px 0 rgba(0, 0, 0, 0.02)
  --dropdown-triangle-stroke #fff
  --scroller-start rgba(255, 255, 255, 1)
  --scroller-end rgba(255, 255, 255, 0)
  --shadow-small 0 5px 10px rgba(0, 0, 0, 0.12)
  --shadow-medium 0 8px 30px rgba(0, 0, 0, 0.12)
  --shadow-large 0 30px 60px rgba(0, 0, 0, 0.12)
  --portal-opacity 0.25

  // layout
  --geist-gap 16pt
  --geist-gap-negative -16pt
  --geist-gap-half 8pt
  --geist-gap-half-negative -8pt
  --geist-gap-quarter 4pt
  --geist-gap-quarter-negative -4pt
  --geist-page-margin 16pt
  --geist-page-width 750pt
  --geist-page-width-with-margin 782pt
  --geist-breakpoint-mobile 600px
  --geist-breakpoint-tablet 960px
  --geist-radius 5px

  // fonts
  --font-sans -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  --font-mono Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace
